<h3> {{viewTitle}} </h3>

<form action="/contact" method="POST" autocomplete="off">

<input type="hidden" name="_id" value="{{employee._id}}">

    <div class="form-group">
        <label> Full Name </label>
        <input type="text" class="form-control" name="fullName" placeholder="Enter Full Name"
            value="{{contact.fullName}}">
        <div class="text-danger">
            {{contact.fullNameError}}
        </div>
    </div>

    <div class="form-group">
        <label> Phone Number </label>
        <input type="text" class="form-control" name="mobile" placeholder="Enter Phone Number, ex: 01635220984 or +8801635220984"
            value="{{contact.mobile}}">
        <div class="text-danger">
            {{contact.mobileError}}
        </div>
    </div>

    <div class="form-group">
        <label> Email </label>
        <input type="text" class="form-control" name="email" placeholder="Enter Email " value="{{contact.email}}">

        <div class="text-danger">
            {{contact.emailError}}
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"> <i class="fa fa-database"></i> Submit </button>
        <a class="btn btn-secondary" href="/contact/list"> <i class="fa fa-list-alt"></i> View All </a>
    </div>
</form>